Source: ros-noetic-movie-publisher-plugins-nonfree
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: https://wiki.ros.org/movie_publisher
Standards-Version: 3.9.2

Package: ros-noetic-movie-publisher-plugins-nonfree
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-exiftool-metadata-extractor
Description: movie_publisher metadata plugins with nonfree licenses.
 exiftool is free for personal use.
