Source: ros-noetic-camera-info-manager-lib
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), catkin-lint <!nocheck>, ros-noetic-camera-calibration-parsers, ros-noetic-catkin, ros-noetic-cras-cpp-common, ros-noetic-roslint <!nocheck>, ros-noetic-rostest <!nocheck>
Homepage: https://wiki.ros.org/camera_info_manager_lib
Standards-Version: 3.9.2

Package: ros-noetic-camera-info-manager-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-camera-calibration-parsers, ros-noetic-cras-cpp-common
Description: camera_info_manager API without an active ROS node.
